.form {
  width: 320px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.input {
    padding: 16px;
    font-size: 16px;
    border: 1px solid #2a363b;
    border-radius: 5px;
}
.button {
    display: inline-block;
    padding: 12px 16px;
    font-weight: 700;
    color: #fff;
    background-color: #2a363b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button:hover {
    background-color: #324750;
}