.contactForm{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 300px;
   margin: 0 0 16px 0;
   gap: 12px;
   border: 1px solid black;
   border-radius: 4px;
}

.field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 4px;
    width: 250px;
}

.label{
    font-size: 16px;
    font-weight: 500;
    color: #333;
    width: 100%;
    text-align: left;
    padding-left: 35px;
    padding-top: 8px;
}
.formButton{
    display: inline-block;
    padding: 10px 16px;
    margin: 8px 0;
    font-weight: 600;
    color: #fff;
    background-color: #2a363b;
    border: none;
    border-radius: 7px;
    cursor: pointer;

}
.formButton:hover {
    background-color: #324750;
}

.error{
    color: rgb(165, 25, 25);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    text-align: center;
}